<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tables / Data - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/xdm/v1/template/minions/assets/img/favicon.png" rel="icon">
  <link href="/xdm/v1/template/minions/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/xdm/v1/template/minions/assets/css/style.css" rel="stylesheet">
  
  <!-- by developer --> 
  <link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
      <div th:replace="~{/xdm/v1/infra/common/header :: header}"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
      <div th:replace="~{/xdm/v1/infra/common/sidebar :: aside}"></div>
    <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
          <li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>직원관리</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"></h1>
              <form name="form" method="post" action="/xdm/v1/infra/inStaff/inStaffXdmList">
              <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
			  <input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
                <div class="row mb-3">
                  <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" name="shDelNy">
                      <option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
                      <option value="0" th:selected="${vo.shDelNy == 0}">N</option>
                      <option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" name="shOptionDate">
                      <option value="" th:selected="${vo.shOptionDate == null}">검색구분</option>
                      <option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option> 
                      <option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
                    </select>
                  </div> 
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="시작일" id="shDateStart" name="shDateStart" 
                    autocomplete="off" style="cursor: pointer;" th:value="${#strings.substring(vo.shDateStart, 0, 10)}">
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="종료일" id="shDateEnd" name="shDateEnd" 
                    autocomplete="off" style="cursor: pointer;" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" name="shOption">
                      <option value="" th:selected="${vo.shOption == null}">검색구분</option>
                      <option value="1" th:selected="${vo.shOption == 1}">직원번호</option>
                      <option value="2" th:selected="${vo.shOption == 2}">직급</option> 
                      <option value="3" th:selected="${vo.shOption == 3}">직원이름</option>
                      <option value="4" th:selected="${vo.shOption == 4}">직원아이디</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="검색어" name="shValue" th:value="${vo.shValue}">
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-dark"><i class="bi bi-search"></i></button>
                    <button type="button" class="btn btn-outline-dark"><i class="bi bi-arrow-clockwise"></i></button>
                  </div>
                </div>
              <div class="row mb-3">
                <div class="col-md-2">
                  <a th:text="'Total : ' +${vo.totalRows}"></a>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-2">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>5</option>
                    <option value="1">10</option>
                    <option value="2">15</option>
                    <option value="3">20</option>
                  </select>
                </div>

                <!-- Table with stripped rows -->
                <!-- Default Table -->
              <div class="divHorizontalScroll">    
                <table class="table tableHorizontalScroll">
                  <thead>
                    <tr>
                      <th>
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                      </th>
                      <th>#</th>
                      <th>직원번호</th>
                      <th>직원이름</th>
                      <th>직급</th>
                      <th>성별</th>
                      <th>전화번호</th>
                      <th>이메일</th>  
                      <th>직원아이디</th>
                      <th>등록일</th>
                      <th>수정일</th>
                      <th>삭제여부</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<tr th:if="${#lists.isEmpty(staffList)}">
                  		<td colspan="8">
                  			<p>There are no data!</p>
                  		</td>
                  	</tr>
                    <tr th:if="${!#lists.isEmpty(staffList)}" th:each="list : ${staffList}">
                      <td>
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                      </td>
                      <td></td>
                      <td th:text="${list.instSeq}"></td>
                      <td>
                      	<a th:href="@{/xdm/v1/infra/inStaff/inStaffXdmMForm(instSeq=${list.instSeq})}"
						th:text="${list.instName}">
						</a>
					  </td>
   					  <td th:if="${list.instposition eq 1}">사원</td>
                      <td th:if="${list.instposition eq 2}">주임</td>
                      <td th:if="${list.instposition eq 3}">대리</td>
                      <td th:if="${list.instposition eq 4}">과장</td>
                      <td th:if="${list.instposition eq 5}">차장</td>
                      <td th:if="${list.instposition eq 6}">부장</td>
                      <td th:if="${list.instGender eq 1}">남자</td>
                      <td th:unless="${list.instGender eq 1}">여자</td>
                      <td th:text="${list.instTel}"></td>
                      <td th:text="${list.instEmail}"></td>
                      <td th:text="${list.instId}"></td>
                      <td th:text="${#dates.format(list.instRegDate	, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td th:text="${#dates.format(list.instEdiDate	, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td th:if="${list.instDelNy eq 0}">N</td>
                      <td th:unless="${list.instDelNy eq 0}">Y</td>
                    </tr>
                  </tbody>
                </table>
               </div>
                <!-- End Table with stripped rows -->

					<!--pagination start-->
                           <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-center">
                                 <li class="page-item disabled" th:if="${vo.startPage gt vo.pageNumToShow}" style="cursor: pointer;">
                                    <a class="page-link" aria-label="Previous" href="javascript:goList(${vo.startPage - 1})"
                                       th:attr="onclick=|goList('${vo.startPage - 1}')|"> 
                                       <span aria-hidden="true">&laquo;</span>
                                    </a>
                                 </li>
                                 <li class="page-item" th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
                                    th:classappend="${num eq vo.thisPage} ? active : ''" style="cursor: pointer;">
                                    <a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a>
                                 </li>
                                 <li class="page-item" th:if="${vo.endPage ne vo.totalPages}" style="cursor: pointer;">
                                    <a class="page-link" aria-label="Next" th:attr="onclick=|goList('${vo.endPage + 1}')|"> 
                                       <span aria-hidden="true">&raquo;</span>
                                    </a>
                                 </li>
                              </ul>
                           </nav>
                    <!--pagination end-->
                
                <div class="row mb-3">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-danger">
                      <a href="#">
                        <i class="bi bi-x-lg icon_color_change"></i>
                      </a>
                    </button>
                    <button type="button" class="btn btn-danger">
                      <a href="#">
                        <i class="bi bi-trash-fill icon_color_change"></i>
                      </a>
                    </button>
                  </div>
                  <div class="col-md-6" align="Right">
                    <button type="button" class="btn btn-success">
                      <a href="#">
                        <i class="bi bi-file-earmark-x icon_color_change"></i>
                      </a>
                    </button>
                    <button type="button" class="btn btn-primary">
                      <a href="/xdm/v1/infra/inStaff/inStaffXdmForm">
                        <i class="bi bi-plus-lg icon_color_change"></i>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div> <!-- card body -->

          </div>
        </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>ImDoyoung</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/xdm/v1/template/minions/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/quill/quill.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/xdm/v1/template/minions/assets/js/main.js"></script>
  
  <!-- by developer -->
  <script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
  <script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
  
  <script>
  
	// 달력 검색
	window.addEventListener('load', function() { // 화면이 로드 될 때 함수 안에 내용을 실행
		$.datetimepicker.setLocale('ko'); // 언어는 한국어를 사용 
	
		$("#shDateStart, #shDateEnd").datetimepicker({ // "시작일, 종료일"
			timepicker:false, // 시간은 보여주지 말고 
			format: 'Y-m-d' // 형식은 이렇게 보여줌 
		});
	});
  
	// paging
    goList = function (thisPage) {
		  document.querySelector("input[name=thisPage]").value = thisPage;
		  form.action = "/xdm/v1/infra/inStaff/inStaffXdmList";
		  form.submit();
	}
    	
    goList = function (thisPage) {
    	  document.querySelector("input[name=thisPage]").value = thisPage;
    	  document.querySelector("form[name=form]").action = "/xdm/v1/infra/inStaff/inStaffXdmList";
    	  document.querySelector("form[name=form]").submit();
    }
  
  
  
  
  
  
  
  </script>
  
</body>

</html>