<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.universal.infra.inClaim.InClaimDao">

	<resultMap type="com.universal.infra.inClaim.InClaimDto" id="resultMapObj"></resultMap>
	
<!--========== inClaimAccept ==========-->
	<select id="inClaimAcceptSelectList" resultMap="resultMapObj">
		SELECT
			h.incaccSeq,
			h.incaccSubmitNo,
			h.incaccProType,
		    c.inmeSeq,
		    c.inmeName,
			c.inmeGender,
		    c.inmeTel,
		    c.inmeIdNumberFr,
		    c.inmeIdNumberBa,
		    c.inmeZipCode,
		    c.inmeAddr,
		    c.inmeAddrDetail,
		    c.inmeEmail,
		    c.inmeJobNy,
		    c.inmeDiseaseNy,
			h.incaccCompleteNy,
			h.incaccRequType,
			h.incaccRequReason,
			h.incaccAccDate,
			h.incaccAccPlace,
			h.incaccAccDesc,
			h.incaccDisease,
			h.incaccSettleRankType,
			h.incaccSettleAcNo,
			h.incaccTosNy,
		    d.instId,
		    d.instName,
			h.incaccRegDate,
			h.incaccEdiDate,
			h.incaccDelNy,
			h.inMember_inmeSeq,
			h.inStaff_instSeq
		FROM inClaimAccept AS h
			LEFT JOIN inMember AS c 
				ON h.inMember_inmeSeq = c.inmeSeq
		    LEFT JOIN inStaff AS d 
		    	ON h.inStaff_instSeq = d.instSeq
		WHERE 1 = 1
			<if test="shIncaccProType != null and !shIncaccProType.equals('')">AND incaccProType = #{shIncaccProType}</if><!-- 보험상품타입 -->
			<if test="shInmeJobNy != null and !shInmeJobNy.equals('')">AND inmeJobNy = #{shInmeJobNy}</if><!-- 위험직군여부 -->
			<if test="shInmeDiseaseNy != null and !shInmeDiseaseNy.equals('')">AND inmeDiseaseNy = #{shInmeDiseaseNy}</if><!-- 의료수급권자여부 -->
		ORDER BY
			h.incaccSeq DESC
	</select>
	
	<insert id="inClaimAcceptInsert">
		INSERT INTO inClaimAccept (
			incaccProType,
			incaccCompleteNy,
			incaccRequType,
			incaccRequReason,
			incaccAccDate,
			incaccAccPlace,
			incaccAccDesc,
			incaccDisease,
			incaccSettleRankType,
			incaccSettleAcNo,
			incaccTosNy,
			incaccRegDate,
			incaccEdiDate,
			incaccDelNy,
			inMember_inmeSeq,
			inStaff_instSeq
		) VALUES (
		    #{incaccProType},
		    1,
		    #{incaccRequType},
		    #{incaccRequReason},
		    #{incaccAccDate},
		    #{incaccAccPlace},
		    #{incaccAccDesc},
		    #{incaccDisease},
		    #{incaccSettleRankType},
		    #{incaccSettleAcNo},
		    #{incaccTosNy},
		    now(),
		    now(),
		    0,
		    #{inMember_inmeSeq},
		    #{inStaff_instSeq}
		)
	</insert>
	
	<select id="inClaimAcceptSelectOne" resultMap="resultMapObj">
		SELECT
			h.incaccSeq,
			h.incaccSubmitNo,
			h.incaccProType,
		    c.inmeSeq,
		    c.inmeName,
			c.inmeGender,
		    c.inmeTel,
		    c.inmeIdNumberFr,
		    c.inmeIdNumberBa,
		    c.inmeZipCode,
		    c.inmeAddr,
		    c.inmeAddrDetail,
		    c.inmeEmail,
		    c.inmeJobNy,
		    c.inmeDiseaseNy,
			h.incaccCompleteNy,
			h.incaccRequType,
			h.incaccRequReason,
			h.incaccAccDate,
			h.incaccAccPlace,
			h.incaccAccDesc,
			h.incaccDisease,
			h.incaccSettleRankType,
			h.incaccSettleAcNo,
			h.incaccTosNy,
		    d.instId,
		    d.instName,
			h.incaccRegDate,
			h.incaccEdiDate,
			h.incaccDelNy,
			h.inMember_inmeSeq,
			h.inStaff_instSeq
		FROM inClaimAccept AS h
			LEFT JOIN inMember AS c 
				ON h.inMember_inmeSeq = c.inmeSeq
		    LEFT JOIN inStaff AS d 
		    	ON h.inStaff_instSeq = d.instSeq
		WHERE 1 = 1
			AND h.incaccSeq = #{incaccSeq}
	</select>
	
	<update id="inClaimAcceptUpdate">
		UPDATE inClaimAccept
		SET 
			incaccRequType = #{incaccRequType},
			incaccRequReason = #{incaccRequReason},
			incaccAccDate = #{incaccAccDate},
			incaccAccPlace = #{incaccAccPlace},
			incaccAccDesc = #{incaccAccDesc},
			incaccDisease = #{incaccDisease},
			incaccSettleRankType = #{incaccSettleRankType},
			incaccSettleAcNo = #{incaccSettleRankType},
			incaccEdiDate = now(),
			incaccDelNy = 0
		WHERE 1 = 1
			AND incaccSeq = #{incaccSeq}
	</update>
	
	<update id="inClaimAcceptUelete">
		UPDATE inClaimAccept
		SET
			incaccDelNy = 1
		WHERE 1 = 1
			AND incaccSeq = #{incaccSeq}
	</update>
	
	<delete id="inClaimAcceptDelete">
		DELETE FROM inClaimAccept
		WHERE 1 = 1
			AND incaccSeq = #{incaccSeq}
	</delete>
	
	
	
<!--========== inClaimProcess ==========-->

	<select id="inClaimProcessSelectList" resultMap="resultMapObj">
		SELECT 
			i.incproSeq, 
			h.incaccSeq,
			i.incproApproveNy,
			i.incproRejectReason,
			h.incaccProType,
			c.inmeSeq,
			c.inmeName,
			c.inmeGender,
			c.inmeTel,
			c.inmeIdNumberFr,
			c.inmeIdNumberBa,
			c.inmeZipCode,
			c.inmeAddr,
			c.inmeAddrDetail,
			c.inmeEmail,
			c.inmeJobNy,
			c.inmeDiseaseNy,
			h.incaccRequType,
			h.incaccRequReason,
			h.incaccAccDate,
			h.incaccAccPlace,
			h.incaccAccDesc,
			h.incaccDisease,
			h.incaccSettleRankType,
			h.incaccSettleAcNo,
			h.incaccTosNy,
			d.instId,
			d.instName,
			h.incaccRegDate,
			i.incproEdiDate,
			i.incproCompleteNy,
			i.incproDelNy,
			i.inMember_inmeSeq,
			i.inStaff_instSeq,
			i.inClaimAccept_incaccSeq
		FROM inClaimProcess AS i
			LEFT JOIN inClaimAccept AS h
				ON i.inClaimAccept_incaccSeq = h.incaccSeq
			LEFT JOIN inMember AS c 
				ON h.inMember_inmeSeq = c.inmeSeq
			LEFT JOIN inStaff AS d 
				ON h.inStaff_instSeq = d.instSeq
		ORDER BY 
			i.incproSeq DESC
	</select>
	
	<insert id="inClaimProcessInsert">
		INSERT INTO inClaimProcess (
			incproApproveNy,
			incproRejectReason,
			incproEdiDate,
			incproCompleteNy,
			incproDelNy,
			inClaimAccept_incaccSeq,
			inMember_inmeSeq,
			inStaff_instSeq
		) VALUES (
			#{incproApproveNy},
			#{incproRejectReason},
			now(),
			1,
			0,
			#{inClaimAccept_incaccSeq},
			(SELECT 
				inMember_inmeSeq
			FROM 
				inClaimAccept
			WHERE
				incaccSeq = #{inClaimAccept_incaccSeq}
			),
			(SELECT 
				inStaff_instSeq 
			FROM 
				inClaimAccept 
			WHERE 
				incaccSeq = #{inClaimAccept_incaccSeq}
			)
		)
	</insert>
	
	<select id="inClaimProcessSelectOne" resultMap="resultMapObj">
		SELECT
			i.incproSeq, 
			h.incaccSeq,
			i.incproApproveNy,
			i.incproRejectReason,
			h.incaccProType,
			c.inmeSeq,
			c.inmeName,
			c.inmeGender,
			c.inmeTel,
			c.inmeIdNumberFr,
			c.inmeIdNumberBa,
			c.inmeZipCode,
			c.inmeAddr,
			c.inmeAddrDetail,
			c.inmeEmail,
			c.inmeJobNy,
			c.inmeDiseaseNy,
			h.incaccRequType,
			h.incaccRequReason,
			h.incaccAccDate,
			h.incaccAccPlace,
			h.incaccAccDesc,
			h.incaccDisease,
			h.incaccSettleRankType,
			h.incaccSettleAcNo,
			h.incaccTosNy,
			d.instId,
			d.instName,
			i.incproCompleteNy,
			h.incaccRegDate,
			i.incproEdiDate,
			i.incproCompleteNy,
			i.incproDelNy,
			i.inMember_inmeSeq,
			i.inStaff_instSeq,
			i.inClaimAccept_incaccSeq
		FROM inClaimProcess AS i
			LEFT JOIN inClaimAccept AS h
				ON i.inClaimAccept_incaccSeq = h.incaccSeq
			LEFT JOIN inMember AS c 
				ON h.inMember_inmeSeq = c.inmeSeq
			LEFT JOIN inStaff AS d 
				ON i.inStaff_instSeq = d.instSeq
		WHERE 1 = 1
			AND i.incproSeq = #{incproSeq}
	</select>
	
	<update id="inClaimProcessUpdate">
		UPDATE inClaimProcess
		SET
			incproApproveNy = #{incproApproveNy},
			incproRejectReason = #{incproRejectReason},
			incproCompleteNy = #{incproCompleteNy},
			incproEdiDate = now(),
			incproDelNy = 0
		WHERE 1 = 1
			AND incproSeq = #{incproSeq}
	</update>
	
	<update id="inClaimProcessUelete">
		UPDATE inClaimProcess
		SET
			incproDelNy = 1
		WHERE 1 = 1
			AND incproSeq = #{incproSeq}
	</update>
	
	<delete id="inClaimProcessDelete">
		DELETE FROM inClaimProcess
		WHERE 1 = 1
			AND incproSeq = #{incproSeq}
	</delete>

	
    <!--========== inClaimpay ==========-->
	<select id="inClaimPaySelectList" resultMap="resultMapObj">
		SELECT
			j.incpaySeq,
			h.incaccSeq,
			h.incaccSettleRankType,
			h.incaccSettleAcNo,
			c.inmeName,
			d.instId,
			d.instName,
			d.instTel,
			j.incpaySettleDate, 
			j.incpaySettleNy, 
			j.inClaimAccept_incaccSeq, 
			j.inMember_inmeSeq,
			j.inStaff_instSeq
		FROM inClaimPay AS j
			LEFT JOIN inClaimAccept AS h
				ON j.inClaimAccept_incaccSeq = h.incaccSeq
			LEFT JOIN inMember AS c 
				ON j.inMember_inmeSeq = c.inmeSeq
			LEFT JOIN inStaff AS d 
				ON j.inStaff_instSeq = d.instSeq
	</select>
	
	<insert id="inClaimPayInsert">
		INSERT INTO inClaimPay (
			incpaySettleDate,
			incpaySettleNy,
			inClaimAccept_incaccSeq,
			inMember_inmeSeq,
			inStaff_instSeq
		) VALUES (
			now(),
			0,
			#{inClaimAccept_incaccSeq},
			(SELECT 
				inMember_inmeSeq
			FROM 
				inClaimAccept
			WHERE
				incaccSeq = #{inClaimAccept_incaccSeq}
			),
			(SELECT 
				inStaff_instSeq 
			FROM 
				inClaimAccept 
			WHERE 
				incaccSeq = #{inClaimAccept_incaccSeq}
			)
		)
	</insert>
	
	<select id="inClaimPaySelectOne" resultMap="resultMapObj">
		SELECT
			j.incpaySeq,
			h.incaccSeq,
			h.incaccSettleRankType,
			h.incaccSettleAcNo,
			c.inmeName,
			d.instId,
			d.instName,
			d.instTel,
			j.incpaySettleDate, 
			j.incpaySettleNy, 
			j.inClaimAccept_incaccSeq, 
			j.inMember_inmeSeq,
			j.inStaff_instSeq
		FROM inClaimPay AS j
			LEFT JOIN inClaimAccept AS h
				ON j.inClaimAccept_incaccSeq = h.incaccSeq
			LEFT JOIN inMember AS c 
				ON j.inMember_inmeSeq = c.inmeSeq
			LEFT JOIN inStaff AS d 
				ON j.inStaff_instSeq = d.instSeq
		WHERE 1 = 1
			AND incpaySeq = #{incpaySeq}
	</select>
	
	<update id="inClaimPayUpdate">
		UPDATE inClaimPay
		SET
			incpaySettleDate = now(),
			incpaySettleNy = #{incpaySettleNy}
		WHERE 1 = 1
			AND incpaySeq = #{incpaySeq}
	</update>


	
	
    <!--========== inClaimAssign ==========-->
	<select id="inClaimAssignSelectList" resultMap="resultMapObj">  
		select
			k.incassSeq,
			k.incassRequType,    
			k.incassAssigndate,
			k.incassAssignNy,
			k.incassCompleteNy,
			k.incassRegDate,
			k.incassEdiDate,
			k.incassDelNy,
		    h.incaccSeq,
		    h.incaccRequType,
		    d.instName,
		    d.instId,
		    d.instTel,
		    c.inmeName,
		    c.inmeTel,
		    k.inClaimAccept_incaccSeq,
    		k.inMember_inmeSeq,
    		k.inStaff_instSeq
		from
			inClaimAssign as k
		<!-- inClaimAccept와 연결된 inClaimAccept_incaccSeq 먼저 join -->
		left join inClaimAccept as h on k.inClaimAccept_incaccSeq = h.incaccSeq 
		left join inMember as c on h.inMember_inmeSeq = c.inmeSeq
		left join inStaff as d on h.inStaff_instSeq = d.instSeq 
		order by   
			incassSeq desc
	</select>
	
	<insert id="inClaimAssignInsert">
		INSERT INTO inClaimAssign (
			incassRequType,
			incassCompleteNy,
			incassAssigndate,
			incassAssignNy,
			incassRegDate,
			incassEdiDate,
			incassDelNy,
			inClaimAccept_incaccSeq,
		    inMember_inmeSeq,
		    inStaff_instSeq
		) VALUES (
			#{incassRequType},
			#{incassCompleteNy},
			#{incassAssigndate},
			#{incassAssignNy},
			now(),
			now(),
			0,
			<!-- inClaimAccept_incaccSeq 안에 있는 멤버와 스테프 정보 가져옴 -->
			#{inClaimAccept_incaccSeq},
			<!-- 서브쿼리 -->
			(SELECT 
				inMember_inmeSeq
		     FROM 
		        inClaimAccept
		     WHERE
		        incaccSeq = #{inClaimAccept_incaccSeq}
		     ),
		     (SELECT 
		        inStaff_instSeq 
		     FROM 
		        inClaimAccept 
		     WHERE 
		        incaccSeq = #{inClaimAccept_incaccSeq}
		     )
		     
		)
	</insert>
	
	<select id="inClaimAssignSelectOne" resultMap="resultMapObj">
		select
		    k.incassSeq,
			k.incassRequType,    
			k.incassAssigndate,
			k.incassAssignNy,
			k.incassCompleteNy,
			k.incassRegDate,
			k.incassEdiDate,
			k.incassDelNy,
		    h.incaccSeq,
		    h.incaccRequType,
		    d.instName,
		    d.instId,
		    d.instTel,
		    c.inmeName,
		    c.inmeTel,
		    k.inClaimAccept_incaccSeq,
    		k.inMember_inmeSeq,
    		k.inStaff_instSeq
    	from
    		inClaimAssign as k
		<!-- inClaimAccept와 연결된 inClaimAccept_incaccSeq 먼저 join -->
		left join inClaimAccept as h on k.inClaimAccept_incaccSeq = h.incaccSeq 
		left join inMember as c on h.inMember_inmeSeq = c.inmeSeq
		left join inStaff as d on h.inStaff_instSeq = d.instSeq 
    	where 1=1 
    		and k.incassSeq = #{incassSeq}       
	</select>
	
	<update id="inClaimAssignUpdate">
		update inClaimAssign
		set 
			incassRequType = #{incassRequType},    
			incassAssigndate = #{incassAssigndate},
			incassAssignNy = #{incassAssignNy},
			incassCompleteNy = #{incassCompleteNy},
			incassEdiDate = now(),
			incassDelNy = 0
		where 1=1
			and incassSeq = #{incassSeq}
	</update>
	

</mapper>