<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universal.infra.inQnaBoard.InQnaBoardDao">

  <resultMap type="com.universal.infra.inQnaBoard.InQnaBoardDto" id="resultMapObj"></resultMap>

    <select id="selectList" resultMap="resultMapObj">
      SELECT aa.* FROM (
	    SELECT
		  	l.inqbSeq,
		  	l.inqbType,
		  	l.inqbTitle,
		  	l.inqbContent,
		  	l.inqbReContent,
		  	l.inqbCompleteNy,
		  	l.inqbRegDate,
		  	l.inqbEdiDate, 
		  	l.inqbDelNy, 
		  	l.inMember_inmeSeq, 
		  	l.inStaff_instSeq,
		  	l.inQnaBoard_inqbSeq,
		  	c.inmeSeq,
		  	c.inmeId,
		  	d.instSeq,
		  	d.instId
	 <include refid="selectCommon"/>
	  ORDER BY	  	
		   (case when inQnaBoard_inqbSeq = 0 then inqbSeq else inQnaBoard_inqbSeq end), inqbRegDate	
		 ) aa limit #{rowNumToShow} offset #{startRnumForMysql}
		 
    </select>		   	
	 <!--   FROM 
		   mini.inqnaboard l
	    ORDER BY
	       (case when inQnaBoard_inqbSeq = 0 then inqbSeq else inQnaBoard_inqbSeq end), inqbRegDate		
	</select>-->
	
	<sql id="selectCommon">
		FROM 
			mini.inqnaboard AS l
			LEFT JOIN inmember AS c
		     on c.inmeSeq = l.inMember_inmeSeq
		   LEFT JOIN inStaff AS d
		     on d.instSeq = l.inStaff_instSeq
		WHERE 1=1
		   <if test="shDelNy !=null and !shDelNy.equals('')">AND inqbDelNy = #{shDelNy}</if>
		   <if test="shCompleteNy !=null and !shCompleteNy.equals('')">AND inqbCompleteNy = #{shCompleteNy}</if>
		   <choose>
			    <when test="shOption==1">AND inqbSeq=#{shValue}</when>
			    <when test="shOption==2">AND inqbTitle LIKE CONCAT('%',#{shValue},'%')</when>
			    <when test="shOption==3">AND inqbType LIKE CONCAT('%',#{shValue},'%')</when>
			    <when test="shOption==4">AND inmeId LIKE CONCAT('%',#{shValue},'%')</when>
			    <when test="shOption==5">AND instId LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
			
			<choose>
				<when test="shOptionDate == 1">AND l.inqbRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND l.inqbEdiDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	</sql>

	<select id="selectOne" resultMap="resultMapObj">
	   SELECT
			l.inqbSeq,
		  	l.inqbType,
		  	l.inqbTitle,
		  	l.inqbContent,
		  	l.inqbReContent,
		  	l.inqbCompleteNy,
		  	l.inqbRegDate,
		  	l.inqbEdiDate, 
		  	l.inqbDelNy, 
		  	l.inMember_inmeSeq, 
		  	l.inStaff_instSeq,
		  	l.inQnaBoard_inqbSeq,
		  	c.inmeSeq,
		  	c.inmeId,
		  	d.instSeq,
			d.instId
	   FROM
			mini.inqnaboard AS l
		LEFT JOIN inmember AS c
	    	  on c.inmeSeq = l.inMember_inmeSeq
	    LEFT JOIN inStaff AS d
	    	  on d.instSeq = l.inStaff_instSeq
	    WHERE 1=1
			AND l.inqbSeq = #{inqbSeq}
	</select>
	
	<update id="update">
	    UPDATE inqnaboard
	    SET
	  	    inqbTitle = #{inqbTitle}
			,inqbContent = #{inqbContent}
			,inqbReContent = #{inqbReContent}
			,inqbCompleteNy = #{inqbCompleteNy}
			,inqbEdiDate = sysdate()
		WHERE 1=1
			AND	inqbSeq = #{inqbSeq}	
	</update>
		  
	  <insert id="insert">
	   INSERT INTO inqnaboard(
		    inqbType,
		    inqbTitle,
		    inqbContent,
		    inqbReContent,
		    inqbCompleteNy,
		    inqbRegDate,
		    inqbEdiDate,
		    inqbDelNy,
		    inMember_inmeSeq,
		    inStaff_instSeq,
		    inQnaBoard_inqbSeq 
		)VALUE(
	       #{inqbType},
		   #{inqbTitle},
		   #{inqbContent},
		   #{inqbReContent},
		   0,
		   now(),
		   now(),
		   0,
		   IFNULL(#{inMember_inmeSeq},0),
		   IFNULL(#{inStaff_instSeq},0),
		   IFNULL(#{inQnaBoard_inqbSeq},0)
	       )
	     <selectKey resultType="String" keyProperty="inqbSeq" order="AFTER">
			SELECT last_insert_id()
	     </selectKey>
	  </insert>
	  
	  <delete id="delete">
	  	DELETE FROM inqnaboard
	  	WHERE 1=1
	  		AND inqbSeq = #{inqbSeq}	
	  </delete>
	  
	  <update id="uelete">
	  	UPDATE inqnaboard
	  	SET
	  		inqbDelNy = 1
	  	WHERE 1=1
	  		AND inqbSeq = #{inqbSeq}
	  </update>
	  
	  <select id="selectOneCount">
	  	SELECT COUNT(*)
	  	<include refid="selectCommon"/>
	  </select>
	  
	  <select id="selectListInQnaBoard" resultMap="resultMapObj">
      SELECT
		  c.inmeSeq,
		  c.inmeId
	  FROM
		    mini.inmember c
	  WHERE 1=1
		  AND c.inmeDelNy = 0
	  ORDER BY
          c.inmeSeq DESC
      </select>
      <select id="selectstaffInQnaBoard" resultMap="resultMapObj">
       SELECT
		  d.instSeq,
		  d.instId
       FROM
		    mini.inStaff d
	  WHERE 1=1
		  AND d.instDelNy = 0
	  ORDER BY
          d.instSeq DESC 
     </select>
</mapper>