<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.universal.infra.inStaff.InStaffDao">
	
	<resultMap type="com.universal.infra.inStaff.InStaffDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
		from 
			mini.instaff d
		where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND instDelNy = #{shDelNy}</if> <!-- 삭제 여부 -->
			
		    <!-- 검색구분 -->
			<choose> 
				<when test="shOption == 1">AND instSeq = #{shValue}</when>
				<when test="shOption == 2">AND instposition LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND instName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 4">AND instId LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
			
		    <!-- 달력 -->
			<choose>
				<when test="shOptionDate == 1">AND d.instRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when> 
				<when test="shOptionDate == 2">AND d.instEdiDate BETWEEN #{shDateStart} AND #{shDateEnd}</when> 
			</choose>
	</sql>
	
	<select id="selectOneCount">  
		select count(*)
		<include refid="selectCommon"/>
	</select>
	
	<select id="selectStaffList" resultMap="resultMapObj">
		select aa.* from (
		select
			d.instSeq,
			d.instName,
			d.instGender,
			d.instposition,
			d.instId,
			d.instPw,
			d.instTel,
			d.instEmail,
			d.instRegDate,
			d.instEdiDate,
			d.instDelNy
		<include refid="selectCommon"/>
		order by
			d.instSeq desc
		) aa
		limit #{rowNumToShow} offset #{startRnumForMySql}
	</select> 
	
	<insert id="staffInsert">
		insert into mini.instaff (
		   instName,
		   instGender,
		   instposition,
		   instId,
		   instPw,
		   instTel,
		   instEmail,
		   instRegDate,
		   instEdiDate,
		   instDelNy
		) values (
		   #{instName},
		   #{instGender},
		   #{instposition},
		   #{instId},
		   #{instPw},
		   #{instTel},
		   #{instEmail},
		   now(),
		   now(),
		   0  
		)
	</insert>
	
	<select id="selectOneStaff" resultMap="resultMapObj">
		select
			d.instSeq,
			d.instName,
			d.instGender,
			d.instposition,
			d.instId,
			d.instPw,
			d.instTel,
			d.instEmail,
			d.instRegDate,
			d.instEdiDate,
			d.instDelNy
		from
			mini.instaff d
		where 1=1
			and d.instSeq = #{instSeq}
	</select>
	  
	<update id="staffUpdate">
		update mini.instaff
		set 
		   instName = #{instName},
		   instGender = #{instGender},
		   instposition = #{instposition},
		   instId = #{instId},
		   instPw = #{instPw},
		   instTel = #{instTel},
		   instEmail = #{instEmail},
		   instEdiDate = now(),
		   instDelNy = 0
		where 1=1
			and instSeq = #{instSeq}	
	</update>
	
	<update id="stafftUelete">
      UPDATE mini.instaff
      SET
         instDelNy = 1
      WHERE 1 = 1
         AND instSeq = #{instSeq}
    </update>
    
    
    
        <!-- 로그인 -->
      <select id="selectOneSignin" resultMap="resultMapObj">
         SELECT 
            d.instSeq,
            d.instId,
            d.instPw
         FROM
            mini.instaff d
         WHERE 1 = 1
            AND d.instId = #{instId}
            AND d.instPw = #{instPw}
      </select>
      
      <!-- 로그인 세션 유지 -->
      <select id="selectOneId" resultMap="resultMapObj">
         SELECT
            d.instSeq,
            d.instId,
            d.instName 
         FROM
            mini.instaff d
         WHERE 1 = 1
            AND d.instId = #{instId}
      </select>
    
	 
	
	
	
	
	
	
	
	  
</mapper>