<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Validation - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/xdm/v1/template/minions/assets/img/favicon.png" rel="icon">
  <link href="/xdm/v1/template/minions/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/xdm/v1/template/minions/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
 
	<!-- ======= Header ======= -->
      <div th:replace="~{/xdm/v1/infra/common/header :: header}"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
      <div th:replace="~{/xdm/v1/infra/common/sidebar :: aside}"></div>
    <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
          <li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>고객관리</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">정보입력</h5>
              
              <!-- Custom Styled Validation -->
              <form method="post" action="/xdm/v1/infra/inMember/inMemberXdmInst">
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">회원번호</label>
                    <input type="text" class="form-control" id="validationCustom01" name="inmeSeq" disabled>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">회원이름</label>
                    <input type="text" class="form-control" id="validationCustom01" name="inmeName">
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">성별</label>
                    <select class="form-select" id="validationCustom04" name="inmeGender"> 
                      <option value="">선택하세요</option>
                      <option th:each="list : ${@codeService.selectListCachedCode(1)}"
                              th:value="${list.incdSeq}" th:text="${list.incdName}"
                              th:selected="${list.incdSeq} == ${memberItem?.inmeGender}">
                      </option>
                    </select>
                    <div class="invalid-feedback">코드 그룹을 선택해주세요</div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">전화번호</label>
                    <input type="text" class="form-control" id="validationCustom01" name="inmeTel">
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">주민번호 앞자리</label>
                    <input type="text" class="form-control" id="validationCustom01" name="inmeIdNumberFr" placeholder="">
                    <div class="invalid-feedback">코드를 입력해주세요	</div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">주민번호 뒷자리</label>
                    <input type="text" class="form-control" id="validationCustom01" name="inmeIdNumberBa" placeholder="">
                    <div class="invalid-feedback">코드를 입력해주세요	</div>
                  </div>
                </div>
                
                <div class="row mb-3">
                	<div style="display: flex; flex-direction: column; align-items: left; margin-bottom: 15px;">
			     		<!-- 우편번호와 버튼 -->
						<div style="display: flex; flex-direction: row; margin-bottom: 5px;">
							<input type="text" class="form-control" id="inmeZipCode" name="inmeZipCode" placeholder="우편번호" style="width: 240px; margin-right: 5px;">
						    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" id="postcodeBtn">
					    </div>
							
					    <!-- 주소  -->
					    <div style="margin-bottom: 5px;">
							 <input type="text" class="form-control" id=inmeAddr name="inmeAddr" placeholder="주소" style="width: 345px;">
						</div>
							  
						<!-- 상세주소 -->
					    <div style="display: flex; flex-direction: row;">
							  <input type="text" class="form-control" id="inmeAddrDetail" name="inmeAddrDetail" placeholder="상세주소" style="width: 345px;">
					    </div>
							  <div class="invalid-feedback" id="userDetailedAddressFeedback">상세주소를 입력해주세요</div>
					</div>
                
                </div>
                
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">아이디</label>
                    <input type="text" class="form-control" id="validationCustom01" name="inmeId" placeholder="">
                    <div class="invalid-feedback">코드를 입력해주세요	</div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">비밀번호</label>
                    <input type="text" class="form-control" id="validationCustom01" name="inmePw" placeholder="">
                    <div class="invalid-feedback">코드를 입력해주세요	</div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">이메일</label>
                    <input type="text" class="form-control" id="validationCustom01" name="inmeEmail" placeholder="">
                    <div class="invalid-feedback">코드를 입력해주세요	</div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">등급</label>
                    <select class="form-select" id="validationCustom04" name="inmeGrade">
                      <option value="">선택하세요</option>
                      <option th:each="list : ${@codeService.selectListCachedCode(2)}"
                              th:value="${list.incdSeq}" th:text="${list.incdName}"
                              th:selected="${list.incdSeq} == ${memberItem?.inmeGrade}">
                      </option>
                    </select>
                    <div class="invalid-feedback">코드 그룹을 선택해주세요</div>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">직업위험군여부</label>
                    <select class="form-select" id="validationCustom04" name="inmeJobNy">
                      <option value="">선택하세요</option>
                      <option value="0">N</option>
                      <option value="1">Y</option>
                    </select>
                    <div class="invalid-feedback">코드 그룹을 선택해주세요</div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">의료수급권자여부</label>
                    <select class="form-select" id="validationCustom04" name="inmeDiseaseNy">
                      <option value="">선택하세요</option>
                      <option value="0">N</option>
                      <option value="1">Y</option>
                    </select>
                    <div class="invalid-feedback">코드 그룹을 선택해주세요</div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">은행</label>
                    <select class="form-select" id="validationCustom04" name="inmeBankType">
                      <option value="">선택하세요</option>
                      <option th:each="list : ${@codeService.selectListCachedCode(4)}"
                              th:value="${list.incdSeq}" th:text="${list.incdName}"
                              th:selected="${list.incdSeq} == ${memberItem?.inmeBankType}">
                      </option>
                    </select>
                    <div class="invalid-feedback">코드 그룹을 선택해주세요</div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">계좌번호</label>
                    <input type="text" class="form-control" id="validationCustom01" name="inmeAccNo" placeholder="">
                    <div class="invalid-feedback">코드를 입력해주세요	</div>
                  </div>
                </div>
                
<!--                 <div class="row mb-3"> -->
<!--                   <div class="col-md-3"> -->
<!--                     <label for="validationCustom01" class="form-label">약관동의여부<a style="color: red;">*</a></label> -->
<!--                     <select class="form-select" id="validationCustom04" name="inmeTosNy" disabled> -->
<!--                       <option value="0">N</option>   -->
<!--                       <option value="1">Y</option> -->
<!--                     </select> -->
<!--                     <div class="invalid-feedback">코드 그룹을 선택해주세요</div> -->
<!--                   </div> -->
<!--                   <div class="col-md-3"> -->
<!--                     <label for="validationCustom01" class="form-label">마케팅동의여부<a style="color: red;">*</a></label> -->
<!--                     <select class="form-select" id="validationCustom04" name="inmeMktNy" disabled> -->
<!--                       <option value="0">N</option> -->
<!--                       <option value="1">Y</option> -->
<!--                     </select> -->
<!--                     <div class="invalid-feedback">코드 그룹을 선택해주세요</div> -->
<!--                   </div>   -->
<!--                   <div class="col-md-3"> -->
<!--                     <label for="validationCustom01" class="form-label">삭제여부<a style="color: red;">*</a></label> -->
<!--                     <select class="form-select" id="validationCustom04" name="inmeDelNy" disabled> -->
<!--                       <option value="0">N</option> -->
<!--                       <option value="1">Y</option> -->
<!--                     </select> -->
<!--                     <div class="invalid-feedback">코드 그룹을 선택해주세요</div> -->
<!--                   </div> -->
<!--                 </div> -->
                
                <div class="row mb-3">
                  <div class="col-md-1">
                    <button type="button" class="btn btn-outline-dark">
                      <a href="./0_list.html">
                        <i class="bi bi-list-ul"></i>
                      </a>
                    </button>
                  </div>
                  
                  <div class="col-md-10"></div>
                  
                  <div class="col-md-1" align="Right">
                    <button type="submit" class="btn btn-primary">
                      <a>
                        <i class="bi bi-server"></i>
                      </a>
                    </button>
                  </div>
                </div>
              </form><!-- End Custom Styled Validation -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/xdm/v1/template/minions/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/quill/quill.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/xdm/v1/template/minions/assets/js/main.js"></script>
  
  <!-- 카카오 우편번호 API -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  
  <script>
  // 카카오 주소 API
  function sample6_execDaumPostcode() {
      new daum.Postcode({
          oncomplete: function(data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

              // 각 주소의 노출 규칙에 따라 주소를 조합한다.
              // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
              var addr = ''; // 주소 변수
              var extraAddr = ''; // 참고항목 변수

              //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
              if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                  addr = data.roadAddress;
              } else { // 사용자가 지번 주소를 선택했을 경우(J)
                  addr = data.jibunAddress;
              }

              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              document.getElementById('inmeZipCode').value = data.zonecode;
              document.getElementById("inmeAddr").value = addr;
              // 커서를 상세주소 필드로 이동한다.
              document.getElementById("inmeAddrDetail").focus();
          }
      }).open();
  }
  
  
  //LogoutProc
  document.getElementById("SignoutBtn").onclick = function (){
      $.ajax({
         async: true 
         ,cache: false
         ,type: "post"
         /* ,dataType:"json" */
         ,url: "/xdm/v1/infra/common/SignoutProc"
         /* ,data : $("#formLogin").serialize() */
         ,success: function(response) {
            if(response.rt == "success") {
                  location.href = "/xdm/v1/infra/common/signin";
            } else {
               // by pass
            }
         }
      });
   }
  
  </script>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

</body>

</html>