<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Validation - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/xdm/v1/template/minions/assets/img/favicon.png" rel="icon">
  <link href="/xdm/v1/template/minions/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/xdm/v1/template/minions/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	      <!-- ======= Header ======= -->
		  <div th:replace="~{xdm/v1/infra/common/header :: header}"></div>
		  <!-- End Header -->

		  <!-- ======= Sidebar ======= -->
		  <div th:replace="~{xdm/v1/infra/common/sidebar :: aside}"></div>
		  <!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
          <li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>1:1 Qna</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Qna 수정</h5>
              <!-- Custom Styled Validation -->
              <form class="needs-validation" id="form" name="form"  action="/xdm/v1/infra/inQnaBoard/inQnaBoardXdmUpdt">
				<div class="row mb-3">
	                <div class="col-md-3">
	                 <label for="inqbType" class="form-label">문의종류<a style="color: red;">*</a></label>
					   <select class="form-select" id="inqbType" name="inqbType" th:value="${item?.inqbType}" disabled>
		                  <option value="" th:selected="${item?.inqbType==null}">문의종류</option>
	                      <option th:each="list : ${@codeService.selectListCachedCode(8)}" th:value="${list.incdSeq}" th:text="${list.incdName}" th:selected="${list.incdSeq} == ${item?.inqbType}"></option> 
	                   </select>
	                </div>
				  </div> 
				<div class="row mb-3">
                  <div class="col-md-3">
                    <label for="inqbSeq" class="form-label">번호<a style="color: red;">*</a></label>
                    <input type="text" class="form-control" id="inqbSeq" name="inqbSeq"  th:value="${item?.inqbSeq}" placeholder="자동생성" style="background-color: lightgray;"readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="inqbTitle" class="form-label">제목</label>
                    <input type="text" class="form-control" id="inqbTitle" name="inqbTitle" th:value="${item?.inqbTitle}" placeholder="영대소문자,숫자" required>
                  </div>
				  <div class="col-md-3">
					<label for="inmeId" class="form-label">작성자ID<a style="color: red;">*</a></label>
					<input type="text" class="form-control" id="inmeId" name="inmeId" placeholder="이름을 입력해주세요" th:value="${item?.inmeId}" style="background-color: #E9ECEF;" >   
				  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="inqbCompleteNy" class="form-label">답변여부<a style="color: red;">*</a></label>
                      <select class="form-select" id="inqbCompleteNy" name="inqbCompleteNy">
						<option value="1" th:selected="${item?.inqbCompleteNy==1}">Y</option>
						<option value="0" th:selected="${item?.inqbCompleteNy==0}">N</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="inqbContent" class="form-label">내용</label>
                    <textarea class="form-control" style="height: 100px"id="inqbContent" name="inqbContent" th:text="${item?.inqbContent}" disabled></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="inqbDelNy" class="form-label">삭제여부</label>
					<select class="form-select" name="inqbDelNy" disabled>
						<option value="1" th:selected="${item?.inqbDelNy==1}">Y</option>
						<option value="0" th:selected="${item?.inqbDelNy==0}">N</option>
					</select>
                  </div>
                  <div class="col-md-3">
                    <label for="inqbRegDate" class="form-label">작성일</label>
                    <input class="form-control" id="validationCustom01" name="inqbRegDate" type="datetime" th:value="${#dates.format(item?.inqbRegDate, 'yyyy-MM-dd HH:mm:ss')}" disabled>
                  </div>
                  <div class="col-md-3">
                    <label for="inqbEdiDate" class="form-label">수정일</label>
                    <input class="form-control" id="validationCustom01" name="inqbEdiDate" type="datetime" th:value="${#dates.format(item?.inqbEdiDate, 'yyyy-MM-dd HH:mm:ss')}" disabled>
                  </div>
                </div>
                <!--</div>-->
                <div class="row mb-3">
                  <div class="col-md-6">
				   <a href="/xdm/v1/infra/inQnaBoard/inQnaBoardXdmList">
					 <button type="button" class="btn btn-outline-dark">
                       <i class="bi bi-list-ul"></i>
                     </button>
				   </a>
                  </div>
                  <div class="col-md-6" align="Right">
					<button type="button" class="btn btn-primary">
					<!--<a th:href="@{/xdm/v1/infra/inQnaBoard/inQnaBoardXdmMForm(inqbSeq=${list.inqbSeq})}" -->
                       <a th:href="@{/xdm/v1/infra/inQnaBoard/inQnaBoardXdmReForm(inqbSeq=${item.inqbSeq})}">
                          <i class="bi bi-plus-lg icon_color_change"></i>
                       </a>
                    </button>
                    <button type="submit" action="redirect:/xdm/v1/infra/inQnaBoard/inQnaBoardXdmList" class="btn btn-primary">
                      <a><i class="bi bi-server"></i></a>
                    </button>
					<!--<button type="submit" action="redirect:/xdm/v1/infra/inQnaBoard/inQnaBoardXdmForm" class="btn btn-primary">-->
                  </div>
                </div>
              </form><!-- End Custom Styled Validation -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
	<!-- ======= Footer ======= -->
	<div th:replace="~{xdm/v1/infra/common/footer :: footer}"></div>
	<!-- End Footer -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script type="text/javascript">
  // LogoutProc
    document.getElementById("SignoutBtn").onclick = function (){
        alert("로그아웃 성공");
        $.ajax({
           async: true 
           ,cache: false
           ,type: "post"
           /* ,dataType:"json" */
           ,url: "/xdm/v1/infra/common/SignoutProc"
           /* ,data : $("#formLogin").serialize() */
           ,success: function(response) {
              if(response.rt == "success") {
                    location.href = "/xdm/v1/infra/common/signin";
              } else {
                 // by pass
              }
           }
        });
     }

     </script>
  <script src="/xdm/v1/template/minions/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/quill/quill.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="/xdm/v1/template/minions/assets/js/main.js"></script>

</body>

</html>