<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Validation - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/xdm/v1/template/minions/assets/img/favicon.png" rel="icon">
  <link href="/xdm/v1/template/minions/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/xdm/v1/template/minions/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
		  <div th:replace="~{/xdm/v1/infra/common/header :: header}"></div>
		  <!-- End Header -->

		  <!-- ======= Sidebar ======= -->
		  <div th:replace="~{/xdm/v1/infra/common/sidebar :: aside}"></div>
		  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
          <li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>qna</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">qnaMForm</h5>
              
              <!-- Custom Styled Validation -->
              <form class="needs-validation" id="form" name="form"  action="/xdm/v1/infra/inQnaBoard/inQnaBoardXdmUpdt">
				<div class="row mb-3">
	                <div class="col-md-3">
	                 <label for="inqbType" class="form-label">문의종류<a style="color: red;">*</a></label>
	                   <select class="form-select" name="inqbType">
	                     <option value="">문의종류</option>
						 <option value="1">상품관련문의</option>
						 <option value="2">해지관련문의</option>
						 <option value="3">지급관련문의</option>
						 <option value="4">가입조건문의</option>
						 <option value="5">정보변경문의</option>
						 <option value="6">기타문의</option>
	                   </select>
	                   <div class="invalid-feedback">
	                     문의종류를 선택해주세요.
	                   </div>
	                 </div>
					</div> 
				
				<div class="row mb-3">
                  <div class="col-md-3">
                    <label for="inqbSeq" class="form-label">번호<a style="color: red;">*</a></label>
                    <input type="text" class="form-control" id="inqbSeq" name="inqbSeq"  th:value="${item?.inqbSeq}" placeholder="자동생성" style="background-color: lightgray;"readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="inqbTitle" class="form-label">제목</label>
                    <input type="text" class="form-control" id="inqbTitle" name="inqbTitle" th:value="${item?.inqbTitle}" placeholder="영대소문자,숫자" required>
                    <div class="invalid-feedback">
                      코드를 입력해주세요.
                    </div>
                  </div>
                 <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">작성자ID</label>
				     <select class="form-select" id="inMember_inmeSeq" name="inMember_inmeSeq" required>
				         <option value="" th:selected="${item?.inMember_inmeSeq==null}">id</option>
				   		 <option value="1" th:selected="${item?.inMember_inmeSeq==1}">ghjk8795</option>
				   	     <option value="2" th:selected="${item?.inMember_inmeSeq==2}">rtyu7411</option>
						 <option value="3" th:selected="${item?.inMember_inmeSeq==3}">gfghk85</option>
						 <option value="4" th:selected="${item?.inMember_inmeSeq==4}">fgh75</option>
					 </select>
                  </div>
                  <!--<div class="col-md-3">
                    <label for="validationCustom01" class="form-label"></label>
                  </div>-->
                </div>
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="inqbCompleteNy" class="form-label">답변여부<a style="color: red;">*</a></label>
                    <select class="form-select" id="inqbCompleteNy" name="inqbCompleteNy" th:value="${item?.inqbCompleteNy}" required>
						<option value="1" th:selected="${item?.inqbCompleteNy==1}">Y</option>
						<option value="0" th:selected="${item?.inqbCompleteNy==0}">N</option>
                    </select>
                    <div class="invalid-feedback">
                      사용 여부를 선택해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="inStaff_instSeq" class="form-label">댓글 작성자 ID<a style="color: red;">*</a></label>
					  <select class="form-select" id="inStaff_instSeq" name="inStaff_instSeq" th:value="${item?.inStaff_instSeq}" required>
						<option value="" th:selected="${item?.inStaff_instSeq==null}">id</option>
						<option value="1" th:selected="${item?.inStaff_instSeq==1}">미작성</option>
						<option value="2" th:selected="${item?.inStaff_instSeq==2}">001</option>
						<option value="3" th:selected="${item?.inStaff_instSeq==3}">002</option>
						<option value="4" th:selected="${item?.inStaff_instSeq==4}">003</option>
						<option value="5" th:selected="${item?.inStaff_instSeq==5}">004</option>
						<option value="6" th:selected="${item?.inStaff_instSeq==6}">005</option>
                      </select>
                    <div class="invalid-feedback">
                      순서를 입력해주세요.
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="inqbContent" class="form-label">내용</label>
                    <textarea class="form-control" style="height: 100px"id="inqbContent" name="inqbContent" th:text="${item?.inqbContent}"></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="inqbDelNy" class="form-label">삭제여부</label>
					<select class="form-select" name="inqbDelNy" disabled>
						<option value="1" th:selected="${item?.inqbDelNy==1}">Y</option>
						<option value="0" th:selected="${item?.inqbDelNy==0}">N</option>
					</select>
                  </div>
                  <div class="col-md-3">
                    <label for="inqbRegDate" class="form-label">작성일</label>
                    <input class="form-control" id="validationCustom01" name="inqbRegDate" type="datetime" th:value="${#dates.format(item?.inqbRegDate, 'yyyy-MM-dd HH:mm:ss')}" disabled>
                   
                  </div>
                  <div class="col-md-3">
                    <label for="inqbEdiDate" class="form-label">수정일</label>
                    <input class="form-control" id="validationCustom01" name="inqbEdiDate" type="datetime" th:value="${#dates.format(item?.inqbEdiDate, 'yyyy-MM-dd HH:mm:ss')}" disabled>
                 
                  </div>
                </div>
                </div>
    
                <div class="row mb-3">
                  <div class="col-md-6">
					<button type="button" id="btnDelete"  class="btn btn-outline-dark">
                      <a>
                        <i class="bi bi-list-ul"></i>
                      </a>
                    </button>
                    <button type="button" id="btnUelete"  class="btn btn-outline-dark">
                      <a>
                        <i class="bi bi-list-ul"></i>
                      </a>
                    </button>
                  </div>
				  
                  <div class="col-md-11"></div>
                  <div class="col-md-6" align="Right">
					<button type="button" class="btn btn-primary">
					<!--	<a th:href="@{/xdm/v1/infra/inQnaBoard/inQnaBoardXdmMForm(inqbSeq=${list.inqbSeq})}" -->
                      <a th:href="@{/xdm/v1/infra/inQnaBoard/inQnaBoardXdmForm(inqbSeq=${item.inqbSeq})}">
                        	<i class="bi bi-plus-lg icon_color_change"></i>
                      </a>
                    </button>
                    <!--<button type="submit" action="redirect:/xdm/v1/infra/inQnaBoard/inQnaBoardXdmList" class="btn btn-primary">
                      <a>
                        <i class="bi bi-server"></i>
                      </a>
                    </button>-->
					<button type="submit" action="redirect:/xdm/v1/infra/inQnaBoard/inQnaBoardXdmForm" class="btn btn-primary">
                      <a>
                        <i class="bi bi-server"></i>
                      </a>
                    </button>
                  </div>
                </div>
              </form><!-- End Custom Styled Validation -->
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script>
		//uelete
		document.getElementById("btnUelete").onclick = function(){
			alert("uelete");
		let form=document.querySelector("form[name=form]");	
		form.action="/xdm/v1/infra/inQnaBoard/inQnaBoardXdmUele";
		form.submit();
		}
		//delete
		document.getElementById("btnDelete").onclick = function(){
			alert("delete");
		let form=document.querySelector("form[name=form]");	
		form.action="/xdm/v1/infra/inQnaBoard/inQnaBoardXdmDele";
		form.submit();
		}
	</script>
  <script src="/xdm/v1/template/minions/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/quill/quill.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/xdm/v1/template/minions/assets/js/main.js"></script>

</body>

</html>