<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Forms / Validation - NiceAdmin Bootstrap Template</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/xdm/v1/template/minions/assets/img/favicon.png" rel="icon">
<link href="/xdm/v1/template/minions/assets/img/apple-touch-icon.png"
	rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link
	href="/xdm/v1/template/minions/assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/minions/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/minions/assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="/xdm/v1/template/minions/assets/vendor/quill/quill.snow.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/minions/assets/vendor/quill/quill.bubble.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/minions/assets/vendor/remixicon/remixicon.css"
	rel="stylesheet">
<link
	href="/xdm/v1/template/minions/assets/vendor/simple-datatables/style.css"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/xdm/v1/template/minions/assets/css/style.css"
	rel="stylesheet">

<!-- by developer -->
<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css" />ㄴ

<!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
	<div th:replace="~{/xdm/v1/infra/common/header :: header}"></div>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<div th:replace="~{/xdm/v1/infra/common/sidebar :: aside}"></div>
	<!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
					<li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
					<li class="breadcrumb-item active">Default</li>
				</ol>
			</nav>
			<h1>클레임 관리-접수</h1>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">정보입력</h5>
							<!-- Custom Styled Validation -->
							<form name="form" id="form" method="post" action="/xdm/v1/infra/inClaim/inClaimAcceptXdmInst">
								<div class="row mb-3">
									<div class="col-md-3">
										<label for="form-label" class="form-label">
											접수SEQ
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" id="incaccSeq" name="incaccSeq" placeholder="자동생성" style="background-color: #E9ECEF;" readonly>
									</div>
									<div class="col-md-3">
										<label for="form-label01" class="form-label">
											보험상품타입
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" id="incaccProType" name="incaccProType">
											<option value="">보험상품타입선택</option>
											<option value="1">실비</option>
											<option value="2">암</option>
											<option value="3">치아</option>
											<option value="4">생명</option>
											<option value="5">여행자</option>
										</select>
										<div class="invalid-feedback">보험상품타입을 선택해주세요.</div>
									</div>
									<div class="col-md-3">
										<label for="form-label" class="form-label">
											고객번호
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" id="inMember_inmeSeq" name="inMember_inmeSeq">
											<option value="">고객번호선택</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
										<div class="invalid-feedback">고객번호를 선택해주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label for="form-label" class="form-label">
											청구유형
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" id="incaccRequType" name="incaccRequType">
											<option value="">청구유형선택</option>
											<option value="1">질병</option>
											<option value="2">일반상해</option>
											<option value="3">교통상해</option>
											<option value="4">업무중상해</option>
										</select>
										<div class="invalid-feedback">청구유형을 선택해주세요.</div>
									</div>
									<div class="col-md-3">
										<label for="form-label01" class="form-label">
											청구사유
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" id="incaccRequReason" name="incaccRequReason">
											<option value="">청구사유선택</option>
											<option value="1">입원</option>
											<option value="2">골절</option>
											<option value="3">통원</option>
											<option value="4">수술</option>
											<option value="5">진단</option>
											<option value="6">장해</option>
											<option value="7">사망</option>
											<option value="8">기타</option>
										</select>
										<div class="invalid-feedback">청구사유를 선택해주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label class="form-label">
											사고날짜
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="incaccAccDate" id="incaccAccDate" placeholder="YYYY-MM-DD" autocomplete="off" readonly>
										<div class="invalid-feedback">사고날짜를 입력해 주세요.</div>
									</div>
									<div class="col-md-3">
										<label for="form-label01" class="form-label">
											사고장소
										</label> 
										<input type="text" class="form-control" name="incaccAccPlace" id="incaccAccPlace" placeholder="사고장소를 입력해주세요" >
										<div class="invalid-feedback">사고장소를 입력해주세요</div>
									</div>
									<div class="col-md-3">
										<label for="form-label01" class="form-label">
											사고경위
										</label> 
										<input type="text" class="form-control" name="incaccAccDesc" id="incaccAccDesc" placeholder="사고경위를 입력해주세요" >
										<div class="invalid-feedback">사고경위를 입력해주세요</div>
									</div>
									<div class="col-md-3">
										<label for="form-label01" class="form-label">
											병명
										</label> 
										<input type="text" class="form-control" name="incaccDisease" id="incaccDisease" placeholder="병명을 입력해주세요" >
										<div class="invalid-feedback">병명을 입력해주세요</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-3">
										<label for="form-label01" class="form-label">
											보험금수령은행
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" id="incaccSettleRankType" name="incaccSettleRankType">
											<option value="">보험금수령은행 선택</option>
											<option value="1">신한은행</option>
											<option value="2">국민은행</option>
											<option value="3">농협은행</option>
											<option value="4">수협은행</option>
											<option value="5">하나은행</option>
											<option value="6">기업은행</option>
											<option value="7">신협</option>
											<option value="8">카카오뱅크</option>
											<option value="9">우리은행</option>
										</select>
										<div class="invalid-feedback">보험금수령은행을 선택해주세요.</div>
									</div>
									<div class="col-md-3">
										<label for="form-label" class="form-label">
											보험금수령계좌번호
											<a style="color: red;">*</a>
										</label> 
										<input type="text" class="form-control" name="incaccSettleAcNo" id="incaccSettleAcNo" placeholder="보험금수령계좌번호를 입력해주세요">
										<div class="invalid-feedback">보험금수령계좌번호를 입력해주세요.</div>
									</div>
									<div class="col-md-3">
										<label for="form-label" class="form-label">
											약관
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" id="incaccTosNy" name="incaccTosNy">
											<option value="">약관선택</option>
											<option value="1">Y</option>
											<option value="0">N</option>
										</select>
										<div class="invalid-feedback">약관을 선택해주세요.</div>
									</div>
									<div class="col-md-3">
										<label for="form-label" class="form-label">
											담당직원ID
											<a style="color: red;">*</a>
										</label> 
										<select class="form-select" id="inStaff_instSeq" name="inStaff_instSeq">
											<option value="">담당직원ID선택</option>
											<option value="1">000001</option>
											<option value="2">000002</option>
										</select>
										<div class="invalid-feedback">담당직원ID을 선택해주세요.</div>
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-md-1">
										<a href="/xdm/v1/infra/inClaim/inClaimAcceptXdmList"> 
											<button type="button" class="btn btn-outline-dark">
												<i class="bi bi-list-ul"></i>
											</button>
										</a>
									</div>
									<div class="col-md-11" align="Right">
										<a> 
											<button type="submit" class="btn btn-primary">
												<i class="bi bi-server"></i>
											</button>
										</a>
									</div>
								</div>
							</form>
							<!-- End Custom Styled Validation -->

						</div>
					</div>

				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script
		src="/xdm/v1/template/minions/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script
		src="/xdm/v1/template/minions/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script
		src="/xdm/v1/template/minions/assets/vendor/chart.js/chart.umd.js"></script>
	<script
		src="/xdm/v1/template/minions/assets/vendor/echarts/echarts.min.js"></script>
	<script src="/xdm/v1/template/minions/assets/vendor/quill/quill.js"></script>
	<script
		src="/xdm/v1/template/minions/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script
		src="/xdm/v1/template/minions/assets/vendor/tinymce/tinymce.min.js"></script>
	<script
		src="/xdm/v1/template/minions/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/xdm/v1/template/minions/assets/js/main.js"></script>

	<!-- by developer -->	
	<script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
	<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	
	<script type="text/javascript">
	// 사고날짜선택
	window.addEventListener('load', function() {

		$.datetimepicker.setLocale('ko');

		$("#incaccAccDate").datetimepicker({
			timepicker : false,
			format : 'Y-m-d'
		});
	});
	</script>
</body>

</html>