<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Validation - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/xdm/v1/template/minions/assets/img/favicon.png" rel="icon">
  <link href="/xdm/v1/template/minions/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/xdm/v1/template/minions/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
	
	<!-- ======= Header ======= -->
      <div th:replace="~{xdm/v1/infra/common/header :: header}"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
      <div th:replace="~{xdm/v1/infra/common/sidebar :: aside}"></div>
    <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
          <li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>신청관리</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">정보수정</h5>
              
              <!-- Custom Styled Validation -->
              <form class="needs-validation" id="form" name="form" method="post" action="/xdm/v1/infra/inApplication/inApplicationXdmUpdt" novalidate>
              <!-- row 1 start -->
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">보험상품 타입<a style="color: red;">*</a></label>
                    <select class="form-select" id="inappRequType" name="inappRequType">
                      <option value="">선택하세요</option>
                      <option th:each="list : ${@codeService.selectListCachedCode(5)}"
                      	th:value="${list.incdSeq}" th:text="${list.incdName}"
                        th:selected="${list.incdSeq} == ${item?.inappRequType}"></option>
                    </select>
                    <div class="invalid-feedback">
                      코드 그룹을 선택해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">신청 no.<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inappSeq" name="inappSeq" th:value="${item?.inappSeq}"
                    placeholder="자동생성" style="background-color: #E9ECEF;" readonly>
                  </div>
                </div>
                <!-- row 1 end -->
                <!-- row 2 start -->
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">회원번호<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inmeSeq" name="inmeSeq" th:value="${item?.inmeSeq}"
                    placeholder="회원번호" style="background-color: #E9ECEF;" readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">성함<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inmeName" name="inmeName" th:value="${item?.inmeName}"
                    placeholder="성함" style="background-color: #E9ECEF;" required readonly>
                    <div class="invalid-feedback">
                      코드 이름 (영문)을 입력해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">성별<a style="color: red;">*</a></label>
                    <select class="form-select" id="inappGender" name="inappGender">
                      <option value="">선택하세요</option>
                      <option th:each="list : ${@codeService.selectListCachedCode(1)}"
                      	th:value="${list.incdSeq}" th:text="${list.incdName}"
                        th:selected="${list.incdSeq} == ${item?.inappGender}"></option>
                    </select>
                    <div class="invalid-feedback">
                      코드 그룹을 선택해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">전화번호<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inmeTel" name="inmeTel" th:value="${item?.inmeTel}"
                    placeholder="전화번호" style="background-color: #E9ECEF;" required readonly>
                    <div class="invalid-feedback">
                      코드 이름 (영문)을 입력해주세요.
                    </div>
                  </div>
                </div>
                <!-- row 2 end -->
                <!-- row 3 start -->
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">주민번호 앞자리<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inmeIdNumberFr" name="inmeIdNumberFr" th:value="${item?.inmeIdNumberFr}"
                    placeholder="주민번호 앞" style="background-color: #E9ECEF;" required readonly>
                    <div class="invalid-feedback">
                      코드 이름 (영문)을 입력해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">주민번호 뒷자리<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inmeIdNumberBa" name="inmeIdNumberBa" th:value="${item?.inmeIdNumberBa}"
                    placeholder="주민번호 뒤" style="background-color: #E9ECEF;" required readonly>
                    <div class="invalid-feedback">
                      코드 이름 (영문)을 입력해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">직업위험군 여부<a style="color: red;">*</a></label>
                    <select class="form-select" id=inmeJobNy name="inmeJobNy" required disabled>
                      <option value="">선택하세요</option>
                      <option value="1" th:selected="${item?.inmeJobNy == 1}">Y</option>
                      <option value="0" th:selected="${item?.inmeJobNy == 0}">N</option>
                    </select>
                    <div class="invalid-feedback">
                      사용 여부를 선택해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">의료수급권자 여부<a style="color: red;">*</a></label>
                    <select class="form-select" id=inmeDiseaseNy name="inmeDiseaseNy" required disabled>
                      <option value="">선택하세요</option>
                      <option value="1" th:selected="${item?.inmeDiseaseNy == 1}">Y</option>
                      <option value="0" th:selected="${item?.inmeDiseaseNy == 0}">N</option>
                    </select>
                    <div class="invalid-feedback">
                      사용 여부를 선택해주세요.
                    </div>
                  </div>
                </div>
                <!-- row 3 end -->
                <!-- row 4 start -->
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">우편번호<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inmeZipCode" name="inmeZipCode" th:value="${item?.inmeZipCode}"
                    placeholder="우편번호" style="background-color: #E9ECEF;" required readonly>
                    <div class="invalid-feedback">
                      코드 이름 (영문)을 입력해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">주소<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inmeAddr" name="inmeAddr" th:value="${item?.inmeAddr}"
                    placeholder="주소" style="background-color: #E9ECEF;" required readonly>
                    <div class="invalid-feedback">
                      코드 이름 (영문)을 입력해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">상세주소<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inmeAddrDetail" name="inmeAddrDetail" th:value="${item?.inmeAddrDetail}"
                    placeholder="상세주소" style="background-color: #E9ECEF;" required readonly>
                    <div class="invalid-feedback">
                      상세주소를 입력해주세요.
                    </div>
                  </div>
                </div>
                <!-- row 4 end -->
                <!-- row 5 start -->
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">이메일<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inmeEmail" name="inmeEmail" th:value="${item?.inmeEmail}"
                    placeholder="이메일" style="background-color: #E9ECEF;" required readonly>
                    <div class="invalid-feedback">
                      코드 이름 (영문)을 입력해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">은행<a style="color: red;">*</a></label>
                    <select class="form-select" id="inappRecBankType" name="inappRecBankType">
                      <option value="">선택하세요</option>
                      <option th:each="list : ${@codeService.selectListCachedCode(4)}"
                      	th:value="${list.incdSeq}" th:text="${list.incdName}"
                        th:selected="${list.incdSeq} == ${item?.inappRecBankType}"></option>
                    </select>
                    <div class="invalid-feedback">
                      코드 그룹을 선택해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">계좌번호<a style="color: red;">*</a></label>
                    <input type="text" class="form-control"
                    id="inappRecAccNo" name="inappRecAccNo" th:value="${item?.inappRecAccNo}"
                    placeholder="자동이체 계좌번호">
                    <div class="invalid-feedback">
                      코드 이름 (영문)을 입력해주세요.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">약관동의 여부<a style="color: red;">*</a></label>
                    <select class="form-select" id="inappTosNy" name="inappTosNy">
                      <option value="">선택하세요</option>
                      <option value="1" th:selected="${item?.inappTosNy == 1}">동의</option>
                      <option value="0" th:selected="${item?.inappTosNy == 0}">거부</option>
                    </select>
                    <div class="invalid-feedback">
                      코드 그룹을 선택해주세요.
                    </div>
                  </div>
                </div>
                <!-- row 5 end -->
                <!-- row 6 start -->
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">등록일</label>
                    <input type="text" class="form-control"
                    id="inappRegDate" name="inappRegDate" th:value="${#dates.format(item?.inappRegDate, 'yyyy-MM-dd HH:mm:ss')}"
                    placeholder="등록일" style="background-color: #E9ECEF;" readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">수정일</label>
                    <input type="text" class="form-control"
                    id="inappEdiDate" name="inappEdiDate" th:value="${#dates.format(item?.inappEdiDate, 'yyyy-MM-dd HH:mm:ss')}"
                    placeholder="수정일" style="background-color: #E9ECEF;" readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom01" class="form-label">삭제여부</label>
                    <select class="form-select" id="inappDelNy" name="inappDelNy">
                      <option value="">선택하세요</option>
                      <option value="1" th:selected="${item?.inappDelNy == 1}">Y</option>
                      <option value="0" th:selected="${item?.inappDelNy == 0}">N</option>
                    </select>
                  </div>
                </div>
                <!-- row 6 end -->
                <div class="row mb-3">
                  <div class="col-md-1">
                    <button type="button" class="btn btn-outline-dark">
                      <a href="./0_list.html">
                        <i class="bi bi-list-ul"></i>
                      </a>
                    </button>
                  </div>
                  <div class="col-md-10"></div>
                  <div class="col-md-1" align="Right">
                    <button type="submit" class="btn btn-primary">
                      <a>
                        <i class="bi bi-server"></i>
                      </a>
                    </button>
                  </div>
                </div>
              </form><!-- End Custom Styled Validation -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<div th:replace="~{xdm/v1/infra/common/footer :: footer}"></div>
	<!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/xdm/v1/template/minions/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/quill/quill.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/xdm/v1/template/minions/assets/js/main.js"></script>
  
  <script type="text/javascript">
  
	//LogoutProc
	document.getElementById("SignoutBtn").onclick = function (){
	    alert("로그아웃 성공");
	    $.ajax({
	       async: true 
	       ,cache: false
	       ,type: "post"
	       /* ,dataType:"json" */
	       ,url: "/xdm/v1/infra/common/SignoutProc"
	       /* ,data : $("#formLogin").serialize() */
	       ,success: function(response) {
	          if(response.rt == "success") {
	                location.href = "/xdm/v1/infra/common/signin";
	          } else {
	          // by pass
	          }
	       }
	    });
	 }
  </script>

</body>

</html>