<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tables / Data - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/xdm/v1/template/minions/assets/img/favicon.png" rel="icon">
  <link href="/xdm/v1/template/minions/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/xdm/v1/template/minions/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/xdm/v1/template/minions/assets/css/style.css" rel="stylesheet">
  
  <!-- Date Time Picker -->
  <link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css"> 

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
      <div th:replace="~{/xdm/v1/infra/common/header :: header}"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
      <div th:replace="~{/xdm/v1/infra/common/sidebar :: aside}"></div>
    <!-- End Sidebar-->
   

  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Page 1</a></li>
          <li class="breadcrumb-item"><a href="index.html">Page 2</a></li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>신청관리</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"></h1>
              <form id="form" name="form" method="post" action="/xdm/v1/infra/inApplication/inApplicationXdmList">
              	<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
				<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
              <!-- search bar start -->
				<div class="row mb-3">
                  <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" id="shappDelNy" name="shappDelNy">
                      <option value="" th:selected="${vo.shappDelNy == null}">삭제여부</option>
                      <option value="1" th:selected="${vo.shappDelNy == 1}">Y</option>
                      <option value="0" th:selected="${vo.shappDelNy == 0}">N</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" id="shmeJobNy" name="shmeJobNy">
                      <option value="" th:selected="${vo.shmeJobNy == null}">직업위험군여부</option>
                      <option value="1" th:selected="${vo.shmeJobNy == 1}">Y</option>
                      <option value="0" th:selected="${vo.shmeJobNy == 0}">N</option>
                    </select>
                  </div>
                   <div class="col-md-2">
                  	<select class="form-select" aria-label="Default select example" id="shmeDiseaseNy" name="shmeDiseaseNy">
                      <option value="" th:selected="${vo.shmeDiseaseNy == null}">의료수급권자여부</option>
                      <option value="1" th:selected="${vo.shmeDiseaseNy == 1}">Y</option>
                      <option value="0" th:selected="${vo.shmeDiseaseNy == 0}">N</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" id="shOptionDate" name="shOptionDate">
                      <option value="" th:selected="${vo.shOptionDate == null}">검색구분</option>
                      <option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option> 
                      <option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="시작일" id="shDateStart" name="shDateStart" 
                    th:value="${#strings.substring(vo.shDateStart, 0, 10)}"
                    autocomplete="off" style="cursor: pointer;">
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="종료일" id="shDateEnd" name="shDateEnd"
                    th:value="${#strings.substring(vo.shDateEnd, 0, 10)}"
                    autocomplete="off" style="cursor: pointer;">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" id="shappRequType" name="shappRequType">
                      <option value="" th:selected="${vo.shappRequType == null}">보험상품타입</option>
                      <option value="1" th:selected="${vo.shappRequType == 1}">실비</option>
                      <option value="2" th:selected="${vo.shappRequType == 2}">암</option>
                      <option value="3" th:selected="${vo.shappRequType == 3}">치아</option>
                      <option value="4" th:selected="${vo.shappRequType == 4}">생명</option>
                      <option value="5" th:selected="${vo.shappRequType == 5}">여행자</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" id="shOption" name="shOption">
                      <option value="" th:selected="${vo.shOption == null}">검색구분</option>
                      <option value="1" th:selected="${vo.shOption == 1}">신청번호</option>
                      <option value="2" th:selected="${vo.shOption == 2}">성함</option>
                      <option value="3" th:selected="${vo.shOption == 3}">전화번호</option>
                      <option value="4" th:selected="${vo.shOption == 4}">주민번호(앞)</option>
                      <option value="5" th:selected="${vo.shOption == 5}">주민번호(뒤)</option>
                      <option value="6" th:selected="${vo.shOption == 6}">주소</option>
                      <option value="7" th:selected="${vo.shOption == 7}">이메일</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="검색어" 
                    th:value="${vo.shValue}" id="shValue" name="shValue">
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-dark"><i class="bi bi-search"></i></button>
                    <button type="button" class="btn btn-outline-dark"><i class="bi bi-arrow-clockwise"></i></button>
                 </div>
                </div>
				<!-- search bar end -->
              </form>

              <div class="row mb-3">
                <div class="col-md-2">
                  <a th:text="'Total: '+${vo.totalRows}">Total : 171</a>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-2">
                  <select class="form-select" aria-label="Default select example" id="changeRowNum" name="changeRowNum">
                    <option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
                    <option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
                    <option value="15" th:selected="${vo.rowNumToShow eq 15}">15</option>
                    <option value="20" th:selected="${vo.rowNumToShow eq 20}">20</option>
                  </select>
                </div>
                <!-- Table with stripped rows -->
                <!-- Default Table -->
              <div class="divHorizontalScroll">
                <table class="table tableHorizontalScroll ">
                  <thead>
                    <tr>
                      <th>
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                      </th>
                      <th>NO</th>
                      <th>신청번호</th>
                      <th>보험상품타입</th>
                      <th>고객번호</th>
                      <th>성함</th>
                      <th>성별</th>
                      <th>전화번호</th>
                      <th>주민번호(앞)</th>
                      <th>주민번호(뒤)</th>
                      <th>직업위험군여부</th>
                      <th>의료수급권자여부</th>
                      <th>우편번호</th>
                      <th>주소</th>
                      <th>상세주소</th>
                      <th>이메일</th>
                      <th>은행</th>
                      <th>계좌번호</th>
                      <th>약관동의여부</th>
                      <th>등록일</th>
                      <th>수정일</th>
                      <th>삭제여부</th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(list)}">
					  <td colspan="22">
						<p class="fs-0" style="padding-top: 12px;">There are no data!</p>
					  </td>
					</tr>
                  </thead>
                  <tbody>
					<tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
                      <td>
                        <input class="form-check-input" type="checkbox">
                      </td>
                      <td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}" class="align-middle"></td>
                      <td th:text="${list.inappSeq}"></td>
                      <td th:if="${list.inappRequType != null}" th:text="${@codeService.selectOneCachedCode(list.inappRequType)}"></td>
                      <td th:unless="${list.inappRequType != null}"></td>
                      <td th:text="${list.inmeSeq}"></td>
                      <td><a th:href="@{/xdm/v1/infra/inApplication/inApplicationXdmMForm(inappSeq=${list.inappSeq})}" th:text="${list.inmeName}"></a></td>
                      <td th:if="${list.inappGender != null}" th:text="${@codeService.selectOneCachedCode(list.inappGender)}"></td>
                      <td th:unless="${list.inappGender != null}"></td>
                      <td th:text="${list.inmeTel}"></td>
                      <td th:text="${list.inmeIdNumberFr}"></td>
                      <td th:text="${list.inmeIdNumberBa}"></td>
                      <td th:if="${list.inmeJobNy eq 0}">N</td>
                      <td th:unless="${list.inmeJobNy eq 0}">Y</td>
                      <td th:if="${list.inmeDiseaseNy eq 0}">N</td>
                      <td th:unless="${list.inmeDiseaseNy eq 0}">Y</td>
                      <td th:text="${list.inmeZipCode}"></td>
                      <td th:text="${list.inmeAddr}"></td>
                      <td th:text="${list.inmeAddrDetail}"></td>
                      <td th:text="${list.inmeEmail}"></td>
                      <td th:if="${list.inappRecBankType != null}" th:text="${@codeService.selectOneCachedCode(list.inappRecBankType)}"></td>
                      <td th:unless="${list.inappRecBankType != null}"></td>
                      <td th:text="${list.inappRecAccNo}"></td>
                      <td th:if="${list.inappTosNy eq 0}">거부</td>
                      <td th:unless="${list.inappTosNy eq 0}">동의</td>
                      <td th:text="${#dates.format(list.inappRegDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td th:text="${#dates.format(list.inappEdiDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                      <td th:if="${list.inappDelNy eq 0}">N</td>
                      <td th:unless="${list.inappDelNy eq 0}">Y</td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <!-- End Table with stripped rows -->

                <!--pagination start-->
                <nav aria-label="Page navigation example">
	                <ul class="pagination justify-content-center">
		                <li class="page-item disabled" th:if="${vo.startPage gt vo.pageNumToShow}" style="cursor: pointer;">
			                <a class="page-link" aria-label="Previous" href="javascript:goList(${vo.startPage - 1})"
				                th:attr="onclick=|goList('${vo.startPage - 1}')|"> 
				                <span aria-hidden="true">&laquo;</span>
			                </a>
		                </li>
		                <li class="page-item" th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
			                th:classappend="${num eq vo.thisPage} ? active : ''" style="cursor: pointer;">
			                <a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"></a>
		                </li>
		                <li class="page-item" th:if="${vo.endPage ne vo.totalPages}" style="cursor: pointer;">
			                <a class="page-link" aria-label="Next" th:attr="onclick=|goList('${vo.endPage + 1}')|"> 
			                	<span aria-hidden="true">&raquo;</span>
			                </a>
		                </li>
	                </ul>
                </nav>
                <!--pagination end-->
                <div class="row mb-3">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-danger">
                      <a href="#">
                        <i class="bi bi-x-lg icon_color_change"></i>
                      </a>
                    </button>
                    <button type="button" class="btn btn-danger">
                      <a href="#">
                        <i class="bi bi-trash-fill icon_color_change"></i>
                      </a>
                    </button>
                  </div>
                  <div class="col-md-6" align="Right">
                    <button type="button" class="btn btn-success">
                      <a href="#">
                        <i class="bi bi-file-earmark-x icon_color_change"></i>
                      </a>
                    </button>
                    <button type="button" class="btn btn-primary">
                      <a href="/xdm/v1/infra/inApplication/inApplicationXdmForm">
                        <i class="bi bi-plus-lg icon_color_change"></i>
                      </a>
                    </button>
                  </div>
                </div>
            	</div>
			</div>
          </div>
        </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>ImDoyoung</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/xdm/v1/template/minions/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/quill/quill.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/xdm/v1/template/minions/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/xdm/v1/template/minions/assets/js/main.js"></script>
  
  <!-- by developer -->
<script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	
<script type="text/javascript">
	
	window.addEventListener('load', function() {

		$.datetimepicker.setLocale('ko'); //한국어 사용하겠다.
		$("#shDateStart, #shDateEnd").datetimepicker({
			timepicker:false,
			format: 'Y-m-d'
		});
	});
	
	//search 조건 유지
	document.getElementById("changeRowNum").onchange = function () {
		document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
		form.action = "/xdm/v1/infra/inApplication/inApplicationXdmList";
		form.submit();
	}
	
	// paging
	goList = function (thisPage) {
		document.querySelector("input[name=thisPage]").value = thisPage;
		document.querySelector("form[name=form]").action = "/xdm/v1/infra/inApplication/inApplicationXdmList";
		document.querySelector("form[name=form]").submit();
	}
	
	// LogoutProc
	document.getElementById("SignoutBtn").onclick = function (){
	    alert("로그아웃 성공");
	    $.ajax({
	       async: true 
	       ,cache: false
	       ,type: "post"
	       /* ,dataType:"json" */
	       ,url: "/xdm/v1/infra/common/SignoutProc"
	       /* ,data : $("#formLogin").serialize() */
	       ,success: function(response) {
	          if(response.rt == "success") {
	                location.href = "/xdm/v1/infra/common/signin";
	          } else {
	          // by pass
	          }
	       }
	    });
	 }
	
</script>


</body>

</html>